h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.modal-bg.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-bg:not(.is-hidden) {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-light-black);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-general-params),
    visibility var(--transition-general-params);
}

/* 123 */
.modal-wrap {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: var(--color-dairy);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  line-height: 0;
  fill: var(--color-navy-blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn {
  display: block;
  margin: 0 auto;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-ocean);
  fill: var(--color-white);
  border: none;
}

.modal-text {
  margin-bottom: 16px;
  color: var(--color-navy-blue);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-label {
  display: block;
  color: var(--color-light-slate);
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input-row {
  margin-bottom: 8px;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  outline-color: transparent;
  outline-offset: -2px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--color-light-black);
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid var(--color-iris);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--color-iris);
}

.modal-comment-wrap {
  margin-bottom: 16px;
}

.modal-comment {
  color: var(--color-light-black);
  display: block;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid var(--color-light-black);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border: 1px solid var(--color-iris);
  outline: none;
}

.modal-comment::placeholder {
  color: var(--color-light-black);
  font-size: 12px;
  line-height: 1, 17px;
  letter-spacing: 0.04em;
}

.modal-ter-and-cond-wrap {
  margin-bottom: 24px;
}

.modal-ter-and-cond-label {
  display: block;
  color: var(--color-light-slate);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.modal-ter-and-cond-checkbox-wrap {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-light-black);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked
  + .modal-ter-and-cond-label
  .modal-ter-and-cond-checkbox-wrap {
  background-color: var(--color-ocean);
  fill: var(--color-cloud);
  border: none;
}

.modal-privacy-policy-link {
  color: var(--color-iris);
}

/* 3123 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.general-btn {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  color: var(--color-white);
  background-color: var(--color-iris);
  font-size: inherit;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-general-params);
}

.general-btn-with-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-iris);
  font-size: inherit;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--color-white);
  width: 165px;
  height: 40px;
  fill: var(--color-white);
}

.general-btn-with-icon:hover,
.general-btn-with-icon:focus,
.general-btn:hover,
.general-btn:focus {
  background-color: var(--color-ocean);
}

.main-header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-wrap {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--color-iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  margin-right: 76px;
}

.logo .accent-navy-blue {
  color: var(--color-navy-blue);
}

.logo .accent-cloud {
  color: var(--color-cloud);
}

.active-page {
  color: var(--color-ocean);
}

.active-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-ocean);
}

.section-title {
  margin-bottom: 72px;
  color: var(--color-navy-blue);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.social-list {
  display: flex;
  gap: 16px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  transition: background-color var(--transition-general-params);
}

.social-icon {
  fill: var(--color-cloud);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--color-green);
}

.sub-title {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.general-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* Portfolio page */

.filter-btn {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--color-cornflower);
  color: var(--color-iris);
  background-color: var(--color-cloud);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-link:hover .portfolio-overlay-wrap .portfolio-overlay,
.portfolio-item-link:focus .portfolio-overlay-wrap .portfolio-overlay {
  visibility: visible;
  transform: translateY(0%);
}

.portfolio-overlay-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  visibility: hidden;
  position: absolute;
  color: var(--color-cloud);
  line-height: 1.5;
  padding: 40px 32px;
  letter-spacing: 0.02em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Portfolio page End */
