@media screen and (min-width: 1158px) {
  .filter-btn-wrap {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
  }

  .portfolio-section {
    padding: 96px 0 120px 0;
  }

  .portfolio-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}
