@media screen and (min-width: 768px) and (max-width: 1157px) {
  .filter-btn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px 24px;
    padding: 48px 0;
  }

  .portfolio-section {
    padding-bottom: 48px;
  }

  .portfolio-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: 356px;
  }
}
