@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
  }
  /* ===== Header ===== */
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-link-container {
    display: none;
  }

  .address-wrap {
    display: none;
  }

  .header-menu-btn {
    background-color: transparent;
    border: none;
    padding: 24px 0;
  }

  .header-menu-icon {
    stroke: var(--color-navy-blue);
  }
  /* ===== Header End ===== */

  /* Hero screen */

  .hero-screen {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/main-page/mobile-hero-background-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--color-navy-blue);
  }

  @media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero-screen {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../../images/main-page/mobile-hero-background-img@2x.jpg');
    }
  }

  .hero-screen-title {
    color: var(--color-white);
    text-align: center;
    line-height: 1.11;
    font-size: 36px;
    letter-spacing: 0.02em;
    margin: 0 auto 72px;
    max-width: 320px;
  }

  .hero-screen-btn {
    display: block;
    margin: 0 auto;
  }

  /* Hero screen End */

  /* Section 1 main page */

  .section-advantages {
    padding: 96px 0;
  }

  .advantages-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
  }

  .advantages-item {
    flex-basis: 100%;
  }

  .advantages-title {
    margin-bottom: 72px;
    color: var(--color-navy-blue);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .advantages-icon-bg {
    display: none;
  }

  .advantages-title {
    margin-bottom: 8px;
  }

  .advantages-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* Section 1 main page END */

  /* Section 2 main page */
  .what-doing-section {
    display: none;
  }
  /* Section 2 main page END */

  /* Section 3 main page */
  .team-section {
    padding: 96px 0;
    background-color: var(--color-cloud);
  }

  .team-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  .team-item {
    width: 264px;
    background-color: var(--color-white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .team-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 32px 0;
  }

  .team-title {
    margin: 0;
    text-align: center;
  }

  .team-text {
    text-align: center;
  }

  .team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .team-social-item {
    width: 40px;
    height: 40px;
  }

  .team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    border-radius: 50%;
    transition: background-color var(--transition-general-params);
  }

  .team-social-link:hover,
  .team-social-link:focus {
    background-color: var(--color-ocean);
  }

  .team-social-link-icon {
    fill: var(--color-cloud);
  }
  /* Section 3 main page End */

  /* Section 4 main page */
  .customers-section {
    padding: 96px 0;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
  }

  .customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
  }

  .customers-link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light-slate);
    border: 1px solid var(--color-light-slate);
    transition: border-color var(--transition-general-params),
      color var(--transition-general-params);
  }

  .customers-link:hover,
  .customers-link:focus {
    color: var(--color-ocean);
    border-color: var(--color-ocean);
  }

  .customers-icon {
    fill: currentColor;
  }
  /* Section 4 main page End */

  /* Footer */
  .footer {
    padding: 96px 0;
    background-color: var(--color-navy-blue);
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 72px;
  }

  .footer-logo-container {
    margin: 0 auto;
  }

  .logo-footer {
    display: block;
    margin-bottom: 16px;
    text-align: center;
  }

  .footer-slogan {
    width: 268px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
  }

  .footer-block-title {
    margin-bottom: 16px;
    line-height: 1.5;
    color: var(--color-white);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .footer-subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
  }

  .footer-social {
    margin: 0 auto;
  }

  .footer-subscribe-input {
    outline: transparent;
    color: var(--color-white);
    border-radius: 4px;
    padding: 8px 16px;
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    border: 1px solid var(--color-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

  .footer-subscribe-input::placeholder {
    color: var(--color-white);
    font-size: 12px;
    line-height: 2; /* 200% */
    letter-spacing: 0.04em;
  }

  .footer-subscribe-btn {
    margin: auto;
  }

  .footer-subscribe-btn-icon {
    margin-left: 16px;
  }

  /* Footer End */

  /* Modal */

  .modal-wrap {
    width: 392px;
  }

  /* Modal End */

  /* Menu Modal */
  .mobile-menu-wrap {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    transform: translateX(100%);
    transition: transform var(--transition-general-params);
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  .modal-close-btn--mobile-menu {
    background-color: transparent;
  }

  .mobile-menu-nav {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .mobile-menu-nav-link,
  .mobile-menu-address-tel {
    color: var(--color-navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    cursor: pointer;
    transition: color var(--transition-general-params);
  }

  .mobile-menu-nav-link--active,
  .mobile-menu-nav-link:hover,
  .mobile-menu-nav-link:active {
    color: var(--color-ocean);
  }

  .mobile-menu-address {
    margin-top: auto;
    margin-bottom: 48px;
  }

  .mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .mobile-menu-address-tel {
    color: var(--color-iris);
  }

  .mobile-menu-address-email {
    color: var(--color-slate);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
  }

  .modal-menu-social-list {
    column-gap: 56px;
  }
  /* Menu Modal End*/
}

@media screen and (max-width: 428px) {
  .modal-wrap {
    width: min(100%, 392px);
  }

  .mobile-menu-address-tel {
    font-size: max(calc(20px + 16 * (100vw - 320px) / 108), 20px);
  }

  .modal-menu-social-list {
    column-gap: max(calc(26px + 30 * (100vw - 320px) / 108), 0px);
  }
}
